# ===============================
# Python
# ===============================
__pycache__/
*.pyc

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.venv/

# ===============================
# Jupyter / unwanted system files
# ===============================
share/
man/
labextensions/
nbconvert/
*.json.orig

# ===============================
# Models
# ===============================
*.pth
*.pt
models/

# ===============================
# Audio / dataset
# ===============================
*.wav
*.mp3
*.flac
data/
datasets/

# ===============================
# Logs
# ===============================
*.log
runs/
outputs/

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Env files
# ===============================
.env


# Notebook temp files & debug
notebooks/.ipynb_checkpoints/
structure.txt
temp_audio/